{
  "env": {
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": true } }]]
    }
  },
  "presets": ["next/babel"],
  "plugins": ["transform-decorators-legacy", "transform-class-properties"]
}
