version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest
    working_directory: ~/CubeTimer
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: install
          command: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: test
          command: yarn test
      - run:
          name: code-coverage
          command: CODECLIMATE_REPO_TOKEN=$CODECLIMATE_REPO_TOKEN ./node_modules/.bin/codeclimate-test-reporter < coverage/lcov.info
      - run:
          name: build
          command: yarn build
      - run:
          name: deploy
          command: NOW_TOKEN=$NOW_TOKEN CI=CircleCI yarn deploy
