@media screen and (min-width: 1025px) {
  html {
    font-size: 300%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 200%;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 100%;
  }
}

.timebar {
  width: 18rem;
  padding: 0.2rem 1rem;
  text-align: center;
  border-top: 1px solid #ededed;
  font: 1rem menlo, monaco, monospace;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stopwatch {
  padding: 1rem;
  color: black;
  font: 3rem menlo, monaco, monospace;
}
